<div class="parentFilter">
    <div class="filter">
        <div class="filter_row1">
            <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="start" [(ngModel)]="startDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="end" [(ngModel)]="endDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
        </div>
        
        <div class="filter_row2">
            <mat-form-field class="locationList">
                <mat-label>Beat</mat-label>
                <mat-select name="locationList" [(ngModel)]="selectedLocation">
                    <mat-option *ngFor="let location of locationList"  [value]="location.LocationName" (click)="setLocation(location)">{{location.LocationName}}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <!-- <mat-form-field class="shopList">
                <mat-label>Shops</mat-label>
                <mat-select multiple [formControl]="shopFormControl" name="shopList" [(ngModel)]="selectedShops">
                    <mat-option *ngFor="let shop of shopList"  [value]="shop.ShopName" (click)="setShop(shop)">{{shop.ShopName}}</mat-option>
                   
                </mat-select>
            </mat-form-field> -->
            <div class="shopList">
                <app-advanced-multi-search-component [label]="'Shops'" [dropdownList]="formatListForAdvancedSearch(shopList, 'ShopID', 'ShopName')" (selectedItemsEvent)="getMultiSelectedItems($event)"></app-advanced-multi-search-component>
            </div>
            
        </div>       
    </div>
    <div class="filter_row3">
        <button class="navButtonSmall" mat-button (click)="downloadSummaryPDF()"><mat-icon>cloud_download</mat-icon></button>
        <button class="right navButtonSmall" mat-button (click)="filterData()"><mat-icon>search</mat-icon></button>
        <button class="right navButtonSmall" mat-button (click)="clearFilter()"><mat-icon>clear</mat-icon></button>
        <button mat-raised-button class="right navButton" (click)="filterData()">Search</button>
        <button mat-raised-button class="right navButton" (click)="clearFilter()">Clear Filters</button>
        <button mat-raised-button class="inputButton navButton" (click)="downloadSummaryPDF()">Download Summary PDF</button> 
    </div> 
</div>