.tableInfo{
    background-color: rgb(70, 70, 70);
    height: 4vh;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.same_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
}

@media only screen and
(max-width : 480px) {
    .tableInfo {
        height: 8vh;
    }
}