.spacer {
    flex: 1 1 auto;
}
.mat-toolbar {
    color:  white;
    background-color:  rgb(250, 130, 45);
}
.navButton {
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    border: rgb(245, 160, 100) 1px groove;
    margin-left: 1vw;
}

/* .navButtonSmall {
    
} */

@media only screen and
(max-width : 480px) {
    .navButton {
        display: none;
    }
}

@media only screen and
(min-width : 479px) {
    .navButtonSmall {
        display: none;
    }
}

