
<!-- <mat-card>
    OrderId - {{orderId}}
    ShopName - {{shopName}}
    CreateTime - {{createTime}}
</mat-card> -->

<div style="margin: 1vw;;">
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>
        <div class="titleRow">
            <span style="font-weight: bold;">#{{orderId}}</span> <br>
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: larger; color: rgb(250, 130, 45); font-weight: bold;">{{shopName}}</span>&nbsp;
            
        </div>
    </mat-panel-title>
    <mat-panel-description>
        <div *ngIf="!panelOpenState">
            <span *ngIf="items">{{items.length}} items</span>&nbsp;
            <br> <span style="font-size: small; color: rgb(245, 160, 100)">{{createTime | date:'HH:mm:ss dd-MMM-yyyy'}}</span>
        </div>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <app-add-item [orderId]="orderId" (newItemAddedEvent)="refreshItemsList(orderId)"></app-add-item> -->
    <button (click)="openAddItemDialog()" mat-button style="background-color: rgb(250, 130, 45); color: white;">Add Item</button>
    <div *ngIf="loading || !items">
        <app-loading></app-loading>
    </div>
    <!-- <div *ngFor="let element of items">
        <app-item 
            [itemId]="element.ItemID" 
            [productName]="element.ProductName" 
            [quantity]="element.Quantity" 
            [createdTime]="element.CreatedTime"
            >
        </app-item><br>
    </div> -->
    <div class="itemsTable">
        <app-item-table [items]="items"></app-item-table>
    </div>

    <!-- <button mat-mini-fab style="margin-top: 5px;" ()>+</button> -->
    <!-- <button mat-button style="background-color: blue; color: white;" (click)="editPopup($event)">Edit</button> -->
</mat-expansion-panel>
</div>
