

<div class="addSku">
  <div>
    <form [formGroup]="companySearchFormGroup">
      <div class="sameRow">
        <!-- <mat-form-field> -->
          <app-advanced-search-component *ngIf="filteredCompanies.length > 0" [label]="'Company Name'" [searchableList]="filteredCompanies" (disabledEventEmitter)="getSkuDisableEvent($event)" (advancedSearchValueEmitter)="getCompanyValue($event)"></app-advanced-search-component>
          <!-- <mat-label for="name">Company Name:</mat-label> -->
          <!-- <input type="text" matInput name="name" [(ngModel)]="addCompanyName"> -->
          <!-- <input formControlName="companyNameFormControl" matInput name="name" type="text" [matAutocomplete]="autocompleteLink" [(ngModel)]="companySearchBoxData" required>
                
          <mat-autocomplete #autocompleteLink="matAutocomplete">
              <mat-option *ngFor="let filteredCompany of filteredCompanies" 
              [value]="filteredCompany.CompanyName" 
              [id]="filteredCompany.CompanyName" 
              >
                  {{filteredCompany.CompanyName}}
              </mat-option>
          </mat-autocomplete> -->
        <!-- </mat-form-field> -->

        <mat-form-field>
          <mat-label for="name">SKU Name:</mat-label>
          <input formControlName="skuNameFormControl" type="text" matInput name="name" [(ngModel)]="addSkuName" required>
        </mat-form-field>
      </div>

      <div class="sameRow">
        <mat-form-field>
          <mat-label for="price">SKU Price:</mat-label>
          <input formControlName="skuPriceFormControl" type="number" matInput name="price" [(ngModel)]="addSkuPrice" required>
        </mat-form-field>

        <button class="inputButton" mat-raised-button [disabled]="!companySearchFormGroup.valid || companySearchSkuDisabledFlag" (click)="addSku(addSkuName, companySearchBoxData, addSkuPrice)">Add Sku</button>
      </div>      
    </form>
  </div>
  
  
  
  
  <div class="skuList">
    <div *ngIf="!skuList || loading" style="margin-top: 5vh;">
      <app-loading></app-loading>
    </div>
    <app-sku-table *ngIf="skuList" [data]="skuList"></app-sku-table>
    
  </div>
    
  
  
</div>
