

<div class="addShop">
  <div>
    <form [formGroup]="locationSearchFormGroup">
      <div class="sameRow">
        <!-- <mat-form-field>
          <mat-label for="location">Beat :</mat-label>
          <input formControlName="locationFormControl" matInput name="location" type="text" [matAutocomplete]="autocompleteLink" [(ngModel)]="locationSearchBoxData" required>
                
                <mat-autocomplete #autocompleteLink="matAutocomplete">
                    <mat-option *ngFor="let filteredLocation of filteredLocations" 
                    [value]="filteredLocation.LocationName" 
                    [id]="filteredLocation.LocationName" 
                    >
                        {{filteredLocation.LocationName}}
                    </mat-option>
                </mat-autocomplete>
        </mat-form-field> -->
        <app-advanced-search-component [label]="'Beat'" [searchableList]="filteredLocations" (disabledEventEmitter)="getShopDisableEvent($event)" (advancedSearchValueEmitter)="getBeatValue($event)"></app-advanced-search-component>

        <mat-form-field>
          <mat-label for="name">Shop Name:</mat-label>
          <input type="text" matInput formControlName="shopNameFormControl" name="Name" type="text" [(ngModel)]="addShopName" required>
        </mat-form-field>
      </div>
      <div class="sameRow">
        <mat-form-field>
          <mat-label for="phone">Phone:</mat-label>
          <input type="text" formControlName="phoneFormControl" matInput name="phone" type="text" [(ngModel)]="addPhone" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="address">Address :</mat-label>
          <input type="text" formControlName="addressFormControl" matInput name="address" type="text" [(ngModel)]="addAddress" required>
        </mat-form-field>
      </div>
      <!-- <app-advanced-search-component [label]="'advanceSearch1'" [searchableList]="advanceSearchArray" (disabledEventEmitter)="getAdvanceDisableEvent($event)"></app-advanced-search-component>
      <app-advanced-multi-search-component [dropdownList]="advanceSearchArray" [label]="'advancedMultiSearch1'" (selectedItemsEvent)="getMultiSelectedItems($event)"></app-advanced-multi-search-component> -->
      <button class="inputButton sameRow" mat-raised-button (click)="addShop(addShopName, addPhone, addAddress, locationSearchBoxData)" [disabled]="!locationSearchFormGroup.valid || !(locationSearchBoxData.length > 0)">Add Shop</button>
    </form>
    
  </div>
   
  
  
  <div class="shopList">
    <div *ngIf="!shopList || loading" style="margin-top: 5vh;">
      <app-loading></app-loading>
    </div>
    <app-shop-table *ngIf="shopList" [data]="shopList"></app-shop-table>
    
  </div>
  
  
</div>
