
html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-typography{
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}



.sameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
}

.mat-mdc-form-field {
    max-width: 40vw !important;
    font-size: small;
}



.mat-mdc-table {
    background: rgb(230, 230, 230);
}
.mdc-data-table__header-cell {
    color: rgb(250, 130, 45);
    font-weight: 1000;
}

.mdc-data-table__cell {
    font-weight: 200;
}

.inputButton {
    margin-top: 1vw;
    color: white !important;
    background: rgb(250, 130, 45) !important;
    max-width: 40vw;
    justify-content: center;
}
.inputButton:disabled {
    margin-top: 1vw;
    color: white !important;
    background: rgb(245, 160, 100) !important;
    max-width: 40vw;
    justify-content: center;
}
.inputButtonDialog {
    color: white !important;
    background: rgb(250, 130, 45) !important;
    max-width: 40vw;
    justify-content: center;
}
.inputButtonDialog:disabled {
    color: white !important;
    background: rgb(245, 160, 100) !important;
    max-width: 40vw;
    justify-content: center;
}


/* Login & Register  */
.entryCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 202, 163);
}

.entryCard {
    width: 50vw;
    height: 40vh;
    max-width: 500px;
    padding: 5px;
    min-height: 300px;
    min-width: 350px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 202, 163) !important;
    border: 2px solid rgba(255, 60, 0, 0.336) !important;
}

.textFormField {
    max-width: 450px;
    min-width: 300px;
    
}

.entryUser {
    align-self: center;
    width: 50px;
    height: 50px;
}
